@import url(../../main/main.css);

.text-center{
    text-align: center;
}

.typo-contents{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
}