<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
</head>
<link rel="stylesheet" href="card.css">

<body>

    <!-- simple card -->
    <div class="card">
        <h1>Taj Mahal</h1>
        <p>The Taj Mahal 'Crown of the Palace', is an ivory-white marble mausoleum on the right bank of the river Yamuna
            in the Indian city of Agra.</p>
    </div>


    <!-- simple card with image -->
    <div class=" card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Taj_Mahal_in_India_-_Kristian_Bertel.jpg/330px-Taj_Mahal_in_India_-_Kristian_Bertel.jpg"
            alt="error">

        <h1>Taj Mahal</h1>
        <p>The Taj Mahal 'Crown of the Palace', is an ivory-white marble mausoleum on the right bank of the river Yamuna
            in the Indian city of Agra.</p>
    </div>


    <!-- horizontal card -->
    <div class="card-horizontal">
        <div class="card-header">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Taj_Mahal_in_India_-_Kristian_Bertel.jpg/330px-Taj_Mahal_in_India_-_Kristian_Bertel.jpg"
                alt="">
            <div class="card-text">
                <h1>
                    Taj Mahal
                </h1>
                <p>The Taj Mahal 'Crown of the Palace', is an ivory-white marble mausoleum on the right bank of the
                    river Yamuna in the Indian city of Agra.</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-container">
                <button>
                    Read
                </button><button>
                    Bookmark
                </button>
            </div>
            <span>
                <i class="far fa-heart"></i>
                <i class="fas fa-share-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </span>
        </div>
    </div>


    <!-- card with dismiss -->
    <div class="card card-dismiss">
        <h1>Taj Mahal</h1>
        <i class="fas fa-times"></i>
        <p>The Taj Mahal 'Crown of the Palace', is an ivory-white marble mausoleum on the right bank of the river Yamuna
            in the Indian city of Agra.</p>
    </div>

    <!-- product card with price tag -->
    <div class="card-product">
        <img src="https://5.imimg.com/data5/DE/UV/MY-23727919/original-apple-airpods-500x500.jpg" alt="">
        <div class="discount-tag">
            <h1 class="card-product-h1" >10% off</h1>
        </div>
        <div class="price-tag">
            <span>$300</span>
        </div>
        <div class="middle-section">
            <span>Product Name</span>
            <p>This is a product and Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolorum repudiandae
                ipsam!</p>
        </div>
        <div class="last-section">
            <button class="btn btn-outline-primary">Add to cart</button>
        </div>

    </div>


    <!-- side image product -->
    <div class="card-product card-sideImage">
        <img src="https://www.mydesignation.com/wp-content/uploads/2019/08/malayali-tshirt-mydesignation-mockup-image-latest-golden-.jpg"
            alt="">
            <div class="middle-section">
            <h1 class="card-product-h1">Product Name</h1>
            <h2 class="card-product-h1">$200</h2>
            <p>50% off</p>
            <div class="last-section">
                <button class="btn btn-fullWidth btn-primary">Add to cart</button>
                <button class="btn btn-fullWidth btn-primary">Buy now</button>
            </div>
        </div>
    </div>


    <!-- product card -->
    <div class= "card-product">
        <img src="https://cdn.arstechnica.net/wp-content/uploads/2021/09/iPhone-13-back-1.jpeg ">
        <div class="content">
            <h2 class="card-product-h2">Apple</h2>
            <h1 class="card-product-h1">Iphone 13</h1>
            <p>Rs.90000 <span class="cancelled">Rs.100000</span> <span class="discount">(10% off)</span></p>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>


    <!-- card with text overlay -->
    <div class="card">
        <img src="https://www.treehugger.com/thmb/e1GJvSjnrsp8Xt90xpIajo4FgJk=/1885x1414/smart/filters:no_upscale()/a-wild-jaguar-in-the-pantanal-is-watchful-while-laying-in-thick-vegetation-along-the-river-bank-of-t-520391160-30409cae6a054ef2b5142dad8c232487.jpg" alt="Error">
        <div class="card-img-overlay">
            <h1>
                Jaguar
            </h1>
            <p>This is a jaguar, one of the largest cats of the cat family </p>
        </div>
    </div>




    <script src="https://kit.fontawesome.com/b9a620178b.js" crossorigin="anonymous"></script>

</body>

</html>