@import url(../../main/main.css);



.card{
    height: max-content;
    width: 21rem;
    box-shadow:var(--box-shadow-gray);
    background-color: var(--white-color);
    color: var(--gray-color);
    margin: 10px;
    position: relative;
}
    .card h1, .card h2{
       margin: 0;
       padding: 0.2rem 1rem 0;
    }
    .card p{
        margin: 0;
        padding:1rem ;
    }

    .card img{  
        width: 100%;
        border-bottom: 2px solid var(--primary-color);
    }

    .cancelled{
        text-decoration: line-through;
    }

    .discount{
        color: var(--error-color);
    }
    .gray{
       color: var(--gray-color);
    }

/* card product */
    .card-product{
        height: max-content;
        width: 20rem;
        color: var(--gray-color);
        box-shadow: var(--box-shadow-gray);
        margin: 1rem;
        position: relative;
   }   
       .card-product img {
           display: flex;
           height: 12rem;
           width: 100%;
           border-bottom: 3px solid var(--primary-color);
       }
       .card-product-text{
        font-size: 1rem;
        padding: 0 1rem 0.2rem;
    }
        .card-product button{
           margin: 0 1rem 0.5rem;
           padding: 0.4rem;
           border-radius: 5px;
   
       } 
       .middle-section{
           height: max-content;
           width: 100%;
           align-self: center;
       }
       .last-section{
           padding: 1rem 0 0 0;
           display: flex;
           flex-direction: column;
       }
       
       .price-tag{
           width: max-content;
           background: var(--primary-color);
           position: relative;
           bottom: 35px;
           color: var(--white-color);
       }
       .discount-tag{
           width: max-content;
           background: var(--primary-color);
           position: relative;
           bottom: 183px;
           left: 267px;
           color: var(--white-color);
       }
      
       .card-sideImage{
           display: flex;
           flex-direction: row;
           align-items: center;
           width: max-content;
           height: max-content;
           
       }
           .card-sideImage img{
               width: 100%;
               border: none;
           }

/* card horizontal */
.card-horizontal{
    height: 10rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--box-shadow-gray);
    margin: 1rem;
}    
    .card-header{
        display: flex;
        width: 100%;
        height: 80%;
    }
    .card-header img{
        width: 100%;
        height: 100%;
    }
        .card-header > .card-text{
            padding: 0 1rem ;
        }

    .card-footer{
        display: flex;
        justify-content: space-between;
        height: max-content;
        width: 100%;
    }    

       .card-footer button{
           height: 1.5rem;
           margin: 0.5rem 0 1rem 1rem;
           width: 5rem;
           cursor: pointer;
           border: none;
           border-radius: 5px;
           background-color: var(--primary-color);
           color: var(--white-color);
       }

       .card-footer span{
           display: flex;
           gap: 1rem;
           justify-content: center;
           align-items: center;
           padding: 1rem;
       }

       .card-footer span i{
           cursor: pointer;
       }


    .card-dismiss i{
         position: relative;
         top: -1.7rem;
         left: 19rem;
         cursor: pointer;
    }   




    

/* card with image overlay */
    .card-img-overlay{
        z-index: 2;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0; 
        color: var(--white-color);
      }
        .card-img-overlay h1,.card-img-overlay p{
            color: var(--white-color);
        }



      

      


     