*{
    font-family: 'Andika', sans-serif;
}

:root{
    --primary-color:#775ada;
    --error-color:#e12929e9;
    --success-color:#4DB351;
    --warning-color:#FF9800;
    --white-color:#fff;
    --gray-color:rgba(191, 191, 191, 0.537);
}


/* simple form */




.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    height: max-content;
    width: 15rem;
    background-color: var(--gray-color);
    border-radius: 0.2rem;
}
   /* form input */
   .form-input, .form-select{
        display: block;
        width: 93%;
        padding: 0.5rem;
        margin: 0.5rem 0 1.3rem;
        border: 1px solid var(--primary-color);
        border-radius: 0.2rem;
        }

    .form-select{
        width: 100%;
    }

    .form-btn{
        cursor: pointer;
        width: inherit;
    }

    .error-text{
        color:var(--error-color);
        margin: 0;
    }

    .form-error {
        border: 2px solid var(--error-color);      
    }

 .label-radio{
     margin: 0 1rem 0 0;
 }   

 .input-radio-sq{
     height: 1rem;
     width: 1rem;
 }



 /* search input */

.input-search-container{
    height: 1.3rem;
    position: relative;
    width:max-content;
}
   .input-search{   
      height: 100%;
    }
    .input-search-container img{
        height: 70%;
        position: relative;
        top: 19%;
        right: 15%;
        opacity: 0.5;
    }