@import url(../../main/main.css);




.btn{
    min-width: 100px;
    width: max-content;
    font-weight: 500;
    color: var(--white-color);
    padding: 0.6rem 1rem;
    border: none;
    cursor: pointer;
    margin: 10px;
}   
   .btn svg{
        height: 1rem;
        width: 1rem;
    }
 
    .btn-primary{
        background-color:var(--primary-color);
    }
    .btn-secondary{
        background-color: var(--secondary-color);
    }
    .btn-error{
        background-color: var(--error-color);
    }
    .btn-success{
        background-color: var(--success-color);
    }

   /* outline buttons */

    .btn-outline-primary{
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
    }
    .btn-outline-secondary{
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
    }
    .btn-outline-error{
        color: var(--error-color);
        border: 2px solid var(--error-color);
    }
    .btn-outline-success{
        color: var(--success-color);
        border: 2px solid var(--success-color);
    }
    

    /* link button */

    .btn-link {
       text-decoration: none;
       background-color: var(--primary-color);
    }  
       .btn-link a {
           text-decoration: none;
           color: #fff;
       }  


   /* Icon Button */

    .btn-icon{
        background-color: var(--secondary-color);
        color: #000;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
.last-section{
    display: flex;
    flex-direction: column;
}

  /* Floating Active Button */


    .btn-float{
        height:2.5rem;
        width: 2.5rem;
        background-color: var(--secondary-color);
        border-radius: 50%;
        border: none;
        display: flex;
        margin: 10px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

       .btn-float svg{
           height: 30%;
       }

