<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <nav class="navbar">
       <h1 class="navbar-logo">Nav</h1>     
           <ul class="navbar-ul">
               <li class="list">Home</li>
               <li class="list">Docs</li>
               <li class="list">More</li>
               <li class="list">About</li>
           </ul>
           <div class="input-search-container">
           </div>
            <ul class="navbar-ul navbar-icon">
               <li class="list"><i class="fab fa-twitter"></i></li>
               <li class="list"><i class="fab fa-github"></i></li>
            </ul>  
    </nav>

    <nav class="navbar-sidenav">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <h1 class="navbar-logo">Nav</h1>     
             <ul class="navbar-ul">
                <li class="list"><i class="fab fa-twitter"></i></li>
                <li class="list"><i class="fab fa-github"></i></li>
             </ul>  
     </nav>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul class="ul-list">
                <h1 class="section-heading">Get started</h1>
                <hr>
                <li class="list"><a class="active" href="index.html">Installation</a></li>
                <li class="list"><a href="./docs/color.html">Colors</a></li>
                <li class="list"><a href="./docs/typography">Typography</a></li>
            </ul>

            <ul class="ul-list">
                <h1 class="section-heading">Components</h1>
                <hr>
                <li class="list"><a href="./docs/alert.html">Alert</a></li>
                <li class="list"><a href="./docs/avatar.html">Avatar</a></li>
                <li class="list"><a href="./docs/badge.html">Badge</a></li>
                <li class="list"><a href="./docs/button.html">Button</a></li>
                <li class="list"><a href="./docs/card.html">Card</a></li>
                <li class="list"><a href="./docs/image.html">Image</a></li>
                <li class="list"><a href="./docs/input.html">Input</a></li>
                <li class="list"><a href="./docs/list.html">List</a></li>
            </ul>
          </div>   
           
        

    <script src="https://kit.fontawesome.com/b9a620178b.js" crossorigin="anonymous"></script>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>

</body>
</html>