@import url(../../main/main.css);

*{
  box-sizing: border-box;
}

body{
  background-color: var(--gray-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



.navbar{
    display: flex;
    justify-content: flex-start;
    padding: 0.8rem;
    width: 100%;
    z-index: 2;
    color: var(--gray-color);
} 
    .navbar-logo, .navbar-ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-logo{
        min-width: 7rem;
    }
    .navbar-ul{
        gap: 2rem;
        padding: 0 1rem 0 6rem;
    }
    .navbar-icon{
        margin-left: auto;      
    }
    .list{
        cursor: pointer;
        
    }

    .navbar-sidenav{
        display: flex;
        position: sticky;
        top: 0;
        z-index: 1;
        justify-content: space-between;
        width: 100%;
        padding: 0.8rem;
        color: var(--gray-color);
        background-color: var(--white-color);
        border-bottom: 1px solid var(--border-color);
    }
    

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--white-color);
        overflow-x: hidden;
        transition: 0.5s;
        padding: 1rem 0 1rem 0;
      }
      
      .sidenav a {
        line-height: 2.3rem;
        text-decoration: none;
        font-size: 1rem;
        color: #818181;
        display: block;
        transition: 0.3s;
        padding: 0 1rem 0 ;

      }
      
      .sidenav a:hover {
        color: var(--highlight-color);
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0.7rem;
        left:9rem ;
        font-size: 2.5rem;
        margin-left: 50px;
      }


.navigation-footer{
  width: 400px;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 10px;
}
 .navigation-footer ul{
 display: flex;
  width: 350px;
 }
  .navigation-footer ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
  }
    .navigation-footer ul li a{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      text-align: center;
      font-weight: 500;
    }
   .navigation-footer ul li a .icon{
      position: relative;
      display: block;
      line-height: 75px;
      font-size: 1.2rem;
      text-align: center;
      transition: 0.5s;
      color: #000;     
    }
  .navigation-footer ul li.active a .icon {
    transform: translateY(-35px);
    color: black;
    
  }
  .navigation-footer ul li a .text{
    position: absolute;
    color: #000;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    opacity: 0;
    
  }
  .navigation-footer ul li.active a .text{
   opacity: 1;
   transform: translateY(10px);
  }

  .indicator{
    top: -50%;
    border-radius: 50%;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--nav-color);
    border: 6px solid var(--gray-color);
    transition: 0.5s;
  }
   .indicator::before{
    content: '';
    position: absolute; 
    top: 50%;
    left:-22px;
    background-color:transparent;
    width: 20px;
    height: 20px;
    border-top-right-radius:20px;
    box-shadow: 0px -10px 0 0 var(--gray-color) ;
  }
  .indicator::after{
    content: '';
    position: absolute; 
    top: 50%;
    right:-22px;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-top-left-radius:20px;
    box-shadow: 0px -10px 0 0 var(--gray-color);
  } 


  .navigation-footer ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0))
  }
  .navigation-footer ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1))
  }
  .navigation-footer ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2))
  }
  .navigation-footer ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3))
  }
  .navigation-footer ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4))
  }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .drawer-list{
          padding-left: 1rem;
        }
      }
    

     

    

      