<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="list.css">
</head>
<body>
    <ul class="ul-list">
        <li class="list">This is a message</li>
        <li class="list">something something</li>
        <li class="list">Hello world</li>
        <li class="list">
            <div class="box">
                Goodbye
            </div>
        </li>
    </ul>

    <ul class="ul-list">
        <li class="list-circle">Instagram</div>
        <li class="list-circle">facebook</div>
        <li class="list-circle">whatsapp</div>
        <li class="list-circle">Beta</div>
    </ul>

    <ul class="ul-list">
        <li class="list-square">Instagram</li>
        <li class="list-square">Facebook</li>
        <li class="list-square">Whatsapp</li>
        <li class="list-square">Beta</li>
    </ul>

    <ul class="ul-list">
        <li class="list-disc">Instagram</li>
        <li class="list-disc">Facebook</li>
        <li class="list-disc">Whatsapp</li>
        <li class="list-disc">Beta</li>
    </ul>

    <ul class="ul-list">
        <li class="list-number">Instagram</li>
        <li class="list-number">Facebook</li>
        <li class="list-number">Whatsapp</li>
        <li class="list-number">Beta</li>
    </ul>


</body>
</html>