<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawer</title>
</head>
<link rel="stylesheet" href="drawer.css">
<body>
    <aside class="drawer list">
        <ul class="ul-list">
           <h1> Get started</h1>
            <li class="list">Introduction</li>
            <li class="list">Colors</li>
            <li class="list">Typography</li>            
        </ul>

        <ul class="ul-list">
            <h1>Components</h1>
            <li class="list">Alert</li>
            <li class="list">Avatar</li>
            <li class="list">Alert</li>              
        </ul>
    </aside>
</body>
</html>