<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating</title>
    <link rel="stylesheet" href="rating.css">
</head>

<body>
    <span class="fa fa-star rated"></span>
    <span class="fa fa-star rated"></span>
    <span class="fa fa-star rated"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
</body>
<script src="https://kit.fontawesome.com/b9a620178b.js" crossorigin="anonymous"></script>

</html>