<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <link rel="stylesheet" href="badge.css">
</head>
<body>
    <h1>Active status badge</h1>
    <div class="container">
        <div class="badge">
            <img class="badge-img" src="../avatar1.svg" alt="error">
            <div class="badge-online"></div>
        </div>
        <div class="badge">
            <img class="badge-img" src="../avatar2.svg" alt="error">
            <div class="badge-offline"></div>
        </div>
        <div class="badge">
            <img class="badge-img" src="../avatar3.svg" alt="error">
            <div class="badge-dnd"></div>
        </div>
    </div>
    <hr>
    <h1>Badge on Icons</h1>
    <div class="container">
        <div class="badge">
            <img class="badge-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Font_Awesome_5_solid_shopping-cart.svg/1152px-Font_Awesome_5_solid_shopping-cart.svg.png" alt="error">
            <div class="badge-number bg-blue">12</div>
        </div>
        <div class="badge">
            <img class="badge-img" src="https://www.pinclipart.com/picdir/middle/362-3628121_png-file-svg-download-icon-email-png-clipart.png" alt="error">
            <div class="badge-number bg-red">15</div>
        </div>
        <div class="badge">
            <img class="badge-img" src="https://images.rawpixel.com/image_png_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvdjk4Mi1kNi0wMy0wMS5wbmc.png?s=nx9RLb-hWOTbRjbKbvyCZfgXeOYxKzyjRGXh3CUmzKg" alt="error">
            <div class="badge-number bg-purple">10</div>
        </div>
    </div>
    <hr>
    
        <span class="badge">Text with a large badge</span>
        <div class="badge-text bg-red">1</div>
    
    
     
</body>
</html>