<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="modal.css">
</head>
<body>
    <div class="modal card">
       <h1>This is a modal</h1>
       <div class="modal-btn">
           <button id="modal-accept" class="btn btn-primary">Accept</button>
           <button id="modal-close" class="btn btn-primary">Close</button>
       </div>
    </div>
    <button id="modal-activate" class="btn btn-primary">
        Click to see modal.
    </button>
    <script>
      const btn = document.querySelector("#modal-activate");
      const modal = document.querySelector(".modal");
      const modelClose = document.querySelector("#modal-close");

      btn.addEventListener("click",()=>{
         modal.style.display = "block";
      })
      modelClose.addEventListener("click",()=>{
         modal.style.display = "none";
      })
    </script>
</body>
</html>