.avatar{
    height: 50px;
    border-radius: 50%;
    margin:0 10px ;
}
   .lg{
       height: 50px;
   }
   .md{
       height: 40px;
   }
   .sl{
       height: 30px;
   }
   .avatar-square{
       border-radius: 10px;
       background-color: black;
   }
   

