@import url(../../main/main.css);

.alert{
    height: 3rem;
    width: 90%;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    color: var(--white-color);
    margin: .5rem;
    padding: 0 0 0 1.5rem;
    border-radius: 5px;
}
    .alert-primary{
        background-color:var(--primary-color) ;
    }
    .alert-error{
        background-color: var(--error-color);
    }
    .alert-success{
        background-color: var(--success-color);
    }
    .alert-warning{
        background-color: var(--warning-color);
    } 

    /* outline alerts */

    .alert-outline-primary{
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
    }
    .alert-outline-error{
        color: var(--error-color);
        border: 2px solid var(--error-color);
    }
    .alert-outline-success{
        color: var(--success-color);
        border: 2px solid var(--success-color);
    }
    .alert-outline-warning{
        color: var(--warning-color);
        border: 2px solid var(--warning-color);
    }
