<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="alert.css">
</head>
<body>
    <div class="alert alert-primary">
        <strong>Primary!</strong> This is a Primary Alert.
    </div>
    <div class="alert alert-error">
        <strong>Error!</strong> This is an Error Alert.
    </div>
    <div class="alert alert-success" >
       <strong> Success!</strong> This is a Success Alert.
    </div>
    <div class="alert alert-warning">
        <strong>Warning!</strong> This is a Warning.
    </div>
    <hr>
    <div class="alert alert-outline-primary">
        <strong>Primary!</strong> This is a Primary Alert.
    </div>
    <div class="alert alert-outline-error">
        <strong>Error!</strong> This is an Error Alert.
    </div>
    <div class="alert alert-outline-success" >
       <strong> Success!</strong> This is a Success Alert.
    </div>
    <div class="alert alert-outline-warning">
        <strong>Warning!</strong> This is a Warning.
    </div>
    
</body>
</html>